.DS_Store
Thumbs.db

.env
.env.*
!.env.example
.example.env

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
coverage/
.cache/

firebase/*.json
backend/firebase/*.json
serviceaccount*.json

*.log
